.single-dataset-head {
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  padding-left: 1rem;
}

.single-dataset-subhead {
  font-size: 1.2rem;
  text-align: left;
  font-weight: 400;
  padding-left: 1rem;
}

.single-dataset-table {
  padding: 0rem 4rem 0rem 1rem;
}

.dataset-table-head {
  background-color: #4250ff;
  color: white;
  border-radius: 1rem;
}

.dataset-table-body {
  background-color: white;
  color: #000000;
}

.single-dataset-details {
  background: linear-gradient(to right, #6a79ff, #4250ff);
  border-top-left-radius: 6rem;
  border-bottom-left-radius: 6rem;
}

.single-dataset-download {
  background-color: white;
  color: #4250ff;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 0.5rem;
}

.single-dataset-license {
  background-color: white;
  color: #4250ff;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 2rem;
}

.single-dataset-download:hover {
  color: #4250ff;
  box-shadow: -4px 4px 8px 4px rgba(58, 57, 57, 0.4);
}

.single-dataset-license:hover {
  color: #4250ff;
  box-shadow: -4px 4px 8px 4px rgba(58, 57, 57, 0.4);
}

.single-dataset-details-head {
  padding-bottom: 0.3rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}

.single-dataset-details-value {
  /* width: 90%; */
  background: linear-gradient(to right, #ffffff48, #ffffff78);
  border-radius: 0.4rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  color: white;
  font-size: 1rem;
}

.dataset-buy-btn {
  background-color: #000000;
  color: #ffb800;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.dataset-buy-btn:hover {
  color: white;
  box-shadow: 4px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.table-responsive::-webkit-scrollbar {
  height: 0.5rem;
}

.table-responsive::-webkit-scrollbar-track {
  background-color: rgb(181, 210, 254);
  border-radius: 5rem;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #4250ff;
  border-radius: 5rem;
}

@media only screen and (max-width: 991px) {
  .single-dataset-table {
    padding: 0rem 3rem 0rem 2rem;
  }

  .single-dataset-head {
    padding-left: 2rem;
    padding-right: 1rem;
  }

  .single-dataset-subhead {
    padding-left: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .single-dataset-details {
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 0rem;
  }

  .single-dataset-content {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .single-dataset-table {
    padding: 0rem 2.5rem;
  }

  .single-dataset-head {
    text-align: center;
    padding: 0rem;
  }

  .single-dataset-subhead {
    text-align: center;
    padding: 0rem;
  }
}

@media only screen and (max-width: 576px) {
  .single-dataset-content {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .dataset-buy-btn {
    padding: 0.8rem 2rem;
  }
}

@media only screen and (max-width: 470px) {
  .single-dataset-table {
    padding: 0.5rem 1.5rem;
  }

  .single-dataset-details {
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
  }
  .single-dataset-content {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media only screen and (max-width: 375px) {
  .single-dataset-details {
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
  }

  .single-dataset-download {
    font-size: 1.2rem;
  }

  .single-dataset-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
