.subscribed-model-component {
  background-color: white;
  border-radius: 3rem;
}

.subscribed-model-details {
  text-align: left;
  padding: 2rem;
}

.subscribed-model-title {
  font-size: 1.2rem;
  font-weight: 400;
}

.subscribed-model-desc {
  font-size: 1.1rem;
  font-weight: 400;
  color: #535353;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.subscribed-model-badge {
  color: #4250ff;
  font-weight: 500;
  font-size: 1.1rem;
}

.subscribed-model-btn {
  font-size: 0.8rem;
  color: #4250ff;
  font-weight: 300;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .subscribed-model-title {
    font-size: 1.1rem;
  }

  .subscribed-model-desc {
    font-size: 1rem;
  }

  .subscribed-model-badge {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 470px) {
  .subscribed-model-details {
    padding: 0.8rem;
  }

  .subscribed-model-title {
    font-size: 1rem;
  }

  .subscribed-model-desc {
    font-size: 0.9rem;
  }

  .subscribed-model-badge {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 375px) {
  .subscribed-model-component {
    border-radius: 1.6rem;
  }

  .subscribed-model-details {
    padding: 0.8rem;
  }

  .subscribed-model-title {
    font-size: 0.9rem;
  }

  .subscribed-model-desc {
    font-size: 0.8rem;
  }

  .subscribed-model-badge {
    font-size: 0.8rem;
  }
}
