/* User details css */ /* User details css */
.dashboard-main-component {
  border: 2px solid white;
  background: linear-gradient(to right, #ffffff34, #ffffff5e);
  padding: 1.2rem;
  border-radius: 6rem;
}

.user-details-component {
  background: linear-gradient(to left, #6a79ff, #4250ff);
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  border: 1px solid white;
}

.dash-image {
  /* height: 200px;
      width: 200px; */
  max-width: 70%;
  height: 70%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
  background-color: white;
  /* margin-left: 2rem; */
  padding: 1rem;
}
.user-details-content {
  color: white;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

.user-main-content {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 0.2rem;
}

.user-main-content span {
  color: #ffb800;
}

.platform-content {
  font-size: 1rem;
}

.user-details-div {
  background: linear-gradient(to left, #ffffff38, #d9d9d959);
  border: 1px solid white;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
}

/* user dashboard buttons */

.dashboard-btns {
  background-color: white;
}

.dashboard-dataset-btn,
.dashboard-model-btn,
.dashboard-subscription-btn {
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  background-color: white;
  color: #4250ff;
  border-radius: 1rem;
  border: 1px solid #6a79ff;
}

.dashboard-dataset-btn:hover,
.dashboard-model-btn:hover,
.dashboard-subscription-btn:hover {
  background-color: #6a79ff;
  color: white;
  box-shadow: 2px 2px 3px 2px rgba(180, 164, 246, 0.308);
  border: 1px solid #4250ff;
}

.subscription-dataset-btn,
.subscription-model-btn {
  border: none;
  background-color: white;
  font-size: 0.8rem;
  border: 1px solid #4250ff;
  color: #4250ff;
  border-radius: 0.8rem;
}

.subscription-dataset-btn:hover,
.subscription-model-btn:hover {
  background-color: #6a79ff;
  color: white;
  border: 1px solid #6a79ff;
}

.active-button {
  background-color: #4250ff;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  .dashboard-main-component {
    border-radius: 5rem;
  }

  .user-details-component {
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
  }

  .dash-image {
    width: 30%;
    margin-left: 0rem;
  }

  .user-details-content {
    color: white;
    text-align: center;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .platform-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .details-content {
    justify-content: center;
  }
}

@media only screen and (max-width: 470px) {
  .dashboard-dataset-btn,
  .dashboard-model-btn,
  .dashboard-subscription-btn {
    font-size: 0.7rem;
    padding: 0.5rem 0.6rem;
    border-radius: 0.7rem;
  }

  .subscription-dataset-btn,
  .subscription-model-btn {
    font-size: 0.6rem;
    border-radius: 0.6rem;
  }

  .dash-image {
    padding: 0.8rem;
  }
}

@media only screen and (max-width: 375px) {
  .dashboard-main-component {
    border-radius: 4rem;
  }

  .user-details-component {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
  }

  .user-main-content {
    font-size: 1rem;
  }

  .platform-content {
    font-size: 0.8rem;
  }

  .user-details-head {
    font-size: 0.8rem;
  }

  .user-details-div {
    border-radius: 0.3rem;
    font-size: 0.8rem;
  }

  .dash-image {
    padding: 0.5rem;
  }
}
