.user-dataset-component {
  background-color: white;
  border-radius: 2rem;
}

.user-dataset-main {
  margin-right: 0rem;
  margin-left: 0rem;
}

.user-dataset-img-div {
  overflow: hidden;
  /* height: 60%; */
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
  background-color: white;
}

.user-dataset-img {
  width: 60%;
  padding-top: 1rem;
}

.user-dataset-details {
  text-align: left;
  padding: 1rem;
}

.user-dataset-title {
  font-size: 1.2rem;
  font-weight: 400;
}

.user-dataset-desc {
  font-size: 1.1rem;
  font-weight: 400;
  color: #535353;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.user-dataset-badge {
  color: #4250ff;
  font-weight: 500;
  font-size: 1.1rem;
}

.user-dataset-btn {
  font-size: 0.8rem;
  color: #4250ff;
  font-weight: 300;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .user-dataset-title {
    font-size: 1.1rem;
  }

  .user-dataset-desc {
    font-size: 1rem;
  }

  .user-dataset-badge {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 470px) {
  .user-dataset-details {
    padding: 0.8rem;
  }

  .user-dataset-title {
    font-size: 1rem;
  }

  .user-dataset-desc {
    font-size: 0.9rem;
  }

  .user-dataset-badge {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 375px) {
  .user-dataset-component {
    border-radius: 1.6rem;
  }

  .user-dataset-details {
    padding: 0.8rem;
  }

  .user-dataset-title {
    font-size: 0.9rem;
  }

  .user-dataset-desc {
    font-size: 0.8rem;
  }

  .user-dataset-badge {
    font-size: 0.8rem;
  }
}
