.model-dashboard-main {
  border: 2px solid white;
  background: linear-gradient(to right, #ffffff34, #ffffff5e);
  padding: 1.2rem;
  border-radius: 4rem;
}

.model-dash-component {
  background: linear-gradient(to left, #6a79ff, #4250ff);
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border: 1px solid white;
}

.model-dash-content {
  color: white;
  text-align: left;
  padding-left: 1rem;
}

.model-dash-head {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 3px;
}

.model-dash-subhead {
  font-size: 1rem;
  font-weight: 400;
}

.dash-create-model-btn {
  background-color: #ffb800;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.dash-create-model-btn:hover {
  box-shadow: 4px 2px 4px 2px rgba(0, 0, 0, 0.2);
  color: white;
  transform: scale(1.02);
}

.model-search-div {
  width: 60%;
  display: flex;
  align-items: center;
  position: relative;
}

.model-dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 88%;
}

@keyframes rotate-filter {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20%, 60%{
    transform: rotate(5deg);
  }
  40%, 80% {
    transform: rotate(-5deg);
  }
}

.model-dropdown-container img {
  width: 2.5rem;
  animation: rotate-filter 2s infinite;
}

.model-dropdown-container img:hover {
  cursor: pointer;
}

.model-search-bar {
  width: 100%;
  border-radius: 2rem;
  border: 1px solid white;
  padding: 0.8rem;
}

.model-search-bar:focus {
  outline: none;
}

.model-dash-btns {
  background-color: white;
}

.all-model-dash-btn,
.med-model-dash-btn,
.edu-model-dash-btn,
.ear-model-dash-btn,
.sci-model-dash-btn,
.model-dropdown-btn {
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  background-color: white;
  color: #4250ff;
  border-radius: 1rem;
  border: 1px solid #6a79ff;
}

.all-model-dash-btn:hover,
.med-model-dash-btn:hover,
.edu-model-dash-btn:hover,
.ear-model-dash-btn:hover,
.sci-model-dash-btn:hover,
.model-dropdown-btn:hover {
  background-color: #6a79ff;
  color: white;
  box-shadow: 2px 2px 3px 2px rgba(180, 164, 246, 0.308);
  border: 1px solid #4250ff;
}

.active-button {
  background-color: #4250ff;
  color: #ffffff;
}

.model-filter-items {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.model-filter-items:hover {
  color: #ffb800;
}

.model-active-filter {
  text-decoration: underline;
  color: #4250ff;
}

/* model Component css */

.all-model-main {
  margin-right: 0rem;
  margin-left: 0rem;
}

.all-model-component {
  background-color: white;
  border-radius: 2rem;
}

.all-model-img-div {
  overflow: hidden;
  /* height: 60%; */
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
  background-color: white;
}

.all-model-img {
  width: 60%;
}

.all-model-details {
  text-align: left;
  padding: 1rem;
}

.all-model-title {
  font-size: 1.2rem;
  font-weight: 400;
}

.all-model-desc {
  font-size: 1.1rem;
  font-weight: 400;
  color: #535353;
  overflow: hidden;
  display: -webkit-box; 
  -webkit-line-clamp: 5; 
  -webkit-box-orient: vertical;
}

.all-model-badge {
  color: #4250ff;
  font-weight: 500;
  font-size: 1.1rem;
}

.all-model-btn {
  font-size: 0.8rem;
  color: #4250ff;
  font-weight: 300;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .model-search-div {
    width: 70%;
  }

  .model-dropdown-container {
    margin-left: 88%;
  }
}

@media only screen and (max-width: 768px) {
  .model-search-div {
    width: 75%;
  }

  .model-dropdown-container {
    margin-left: 85%;
  }

  .all-model-title {
    font-size: 1.1rem;
  }

  .all-model-desc {
    font-size: 1rem;
  }

  .all-model-badge {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  .model-dash-head {
    font-size: 1.9rem;
  }

  .dash-create-model-btn {
    font-size: 1.1rem;
  }

  .model-search-bar {
    padding: 0.6rem;
  }

  .model-search-div {
    width: 78%;
  }

  .model-dropdown-container img {
    width: 2.3rem;
  }

  .model-dropdown-container {
    margin-left: 83%;
  }
}

@media only screen and (max-width: 470px) {
  .model-dash-head {
    font-size: 1.7rem;
  }

  .model-dash-subhead {
    font-size: 0.9rem;
  }

  .dash-create-model-btn {
    font-size: 1rem;
  }

  .model-search-div {
    width: 100%;
  }

  .model-dropdown-container img {
    width: 2.1rem;
  }

  .model-dropdown-container {
    margin-left: 80%;
  }

  .all-model-details {
    padding: 0.8rem;
  }

  .all-model-title {
    font-size: 1rem;
  }

  .all-model-desc {
    font-size: 0.9rem;
  }

  .all-model-badge {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 375px) {
  .model-dash-head {
    font-size: 1.5rem;
  }

  .model-dash-subhead {
    font-size: 0.8rem;
  }

  .dash-create-model-btn {
    font-size: 1rem;
  }

  .model-search-div {
    width: 100%;
  }

  .model-search-div img {
    width: 2.1rem;
  }

  .model-dropdown-container {
    margin-left: 75%;
  }

  .model-search-bar {
    padding: 0.4rem;
  }

  .all-models-component {
    border-radius: 1.6rem;
  }

  .all-model-details {
    padding: 0.8rem;
  }

  .all-model-title {
    font-size: 0.9rem;
  }

  .all-model-desc {
    font-size: 0.8rem;
  }

  .all-model-badge {
    font-size: 0.8rem;
  }
}
