.sidebar-content{
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    color: #4B4B4B;
}

.nav-link{
    padding: 0.3rem;
}

.sidebar-content:hover{
    background: linear-gradient(to right, #4250FF, #6A79FF);
    color: #ffffff;
    border-radius: 0.6rem;
}

.sidebar-image-hover{
    display: none;
}

.sidebar-image-hover,
.sidebar-image{
    margin-right: 10px;
}

.sidebar-content:hover{
    .sidebar-image{
        display: none;
    }
    .sidebar-image-hover{
        display: flex;
    }
}

.sidebar-content.active {
    background: linear-gradient(to right, #4250FF, #6A79FF);
    border-radius: 0.5rem;
    color: #ffffff;

    .sidebar-image{
        display: none;
    }
    .sidebar-image-hover{
        display: flex;
    }
}

@media only screen and (max-width: 1024px){
    .sidebar-content{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 991px){
    .sidebar-container{
        display: none;
    }
}
