.computation-details-title{
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left;
}

.computation-details-container1,
.computation-details-container2{
  border-radius: 2rem;
  border: 1px solid white;
  background: linear-gradient(to left, #FFFFFF34, #FFFFFF5E);
}

.computation-details-container1-head,
.computation-details-container2-head{
  font-size: 1.3rem;
  color: #FFB800;
  font-weight: 600;
  background: linear-gradient(to right, #4250FF, #6B7AFF);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.computation-details-container1-content,
.computation-details-container2-content{
  /* background: linear-gradient(to left, #FFFFFF34, #FFFFFF5E); */
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.computation-details-img1,
.computation-details-img2{
  width:80%;
}

.computation-details-btn1,
.computation-details-btn2{
  color: white;
  background-color: #FFB800;
  font-weight: 600;
  font-size: 1rem;
}

.computation-details-btn1:hover,
.computation-details-btn2:hover{
  color: #FFB800;
  background-color: #000000;
}

@media only screen and (max-width:767px){
  .computation-details-title{
    font-size: 1.6rem;
    text-align: center;
  }
}

@media only screen and (max-width:576px){
  .computation-details-title{
    font-size: 1.5rem;
  }
}

@media only screen and (max-width:470px){
  .computation-details-title{
    font-size: 1.4rem; 
  }

  .computation-details-container1-head,
  .computation-details-container2-head{
    font-size: 1.2rem;
  }
}

@media only screen and (max-width:375px){
  .computation-details-title{
    font-size: 1.2rem;
  }

  .computation-details-container1-head,
  .computation-details-container2-head{
    font-size: 1rem;
  }

  .computation-details-btn1,
  .computation-details-btn2{
    font-size: 0.8rem;
  }

  .computation-details-img1,
  .computation-details-img2{
    width:85%;
  }
}