/* hero text component css */

.hero-container{
    height: 100%;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #fff;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.hero-text{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
}

.hero-sub-text{
    font-size: 1.5rem;
    font-weight: 400;
    color: #1D1D1D;
    text-align: left;
}

.hero-button{
    background-color: #fff;
    border-radius: 2rem;
    width: 45%;
    /* justify-content: center; */
}

.hero-button-text{
    color: #FFB800;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: left;
}

.hero-arrow{
    background-color: #FFB800;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-arrow{
    /* height: 15px;
    width: 10px; */
    width: 90%;
    padding: 0.3rem 0.4rem 0.3rem 0.6rem;
}

/* hero images css */

.hero-img-container{
    padding-left: 1rem;
}

.img-union{
    width: 100%;
    margin-top: -25%;
    position: relative;
}

.img-security{
    width: 45%;
    position: relative;
    margin-top: -55%;
    margin-right: 50%;
}

.img-hero{
    width: 45%;
    position: relative;
    margin-top: -48%;
    margin-left: 52%;
}

.img-union1{
    width: 55%;
    position: relative;
    margin-top: -23%;
}

.img-search{
    width: 30%;
    position: relative;
    margin-top: -85%;
    margin-right: 24%;
}

.img-link{
    width: 40%;
    position: relative;
    margin-top: -42%;
    margin-left: 25%;
}

@media only screen and (max-width: 1200px) {
    .hero-button {
        width: 50%;
    }
}

@media only screen and (max-width: 1040px) {
    .hero-button {
        width: 50%;
    }
    .hero-sub-text{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 992px) {
    .hero-button {
        width: 75%;
    }
}

@media only screen and (max-width: 767px) {
    .img-hero, .img-link, .img-search, .img-security, .img-union, .img-union1{
        display: none;
    }

    .hero-container{
        position: relative;
    }

    .hero-img-container{
        position: absolute;
    }

    .hero-text{
        /* font-size: 2.5rem; */
        text-align: center;
    }

    .hero-sub-text{
        /* font-size: 1rem; */
        text-align: center;
    }

    .hero-button{
        align-items: center;
        justify-content: center;
        width: 50%;
        justify-content: center;
    }

    .get-started-container{
        display: flex;
    }

}

@media only screen and (max-width: 576px) {
    .hero-text{
        font-size: 2rem;
    }
    .hero-button{
        width: 70%;
    }
}

@media only screen and (max-width: 375px) {
    /* .hero-text{
        font-size: 2rem;
    } */
    .hero-button{
        width: 90%;
    }
}