.landing-navbar {
  font-size: 1.2rem;
  font-weight: 550;
  opacity: 0.8;
  color: #000 !important;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s ease;
}

.landing-navbar:hover {
  font-weight: 600;
  border-bottom: 2px solid #000;
  transform: scale(0.98);
  transition: transform 0.3s;
}

.navbar {
  background-color: transparent;
  backdrop-filter: blur(10px);
}

